{:company/legal-name "Trip.com Group Limited"
 :company/lei "2549004RMYDSRQL4KW41"
 :company/jurisdiction "KY (Cayman Islands)"
 :company/website "https://www.trip.com"
 :company/ticker "TCOM (NASDAQ)"
 :company/inquiry-form-url "https://jp.trip.com/pages/customer-service/?locale=ja-JP&curr=JPY"}
